* {
    margin: 0;
}
body {
    height: 100vh;
}
.logoWrapper {
    width: 100%;
    background-color: red;
    height: 30%;
}
.menuWrapper {
    width: 100%;
    height: 70%;
    background-color: black;
}